@media only screen and (max-width: 480px)
{
    .navbar
    {
        font-size: 10px;
        gap: 1px;
        ul
        {
            li
            {
                font-size: 18px;
                margin-left: 20px;
            }
        }

    } 

    .partners
    {
        height: 50%;
        p
        {
            font-size: 20px;
        }
        .imagenes_part
        {
            height: 50%;
            flex-wrap: wrap;
            margin-top: 20px;
            img
            {
                width: 30%;
                height:20%;
                gap: 1px;
            }
        }
    }

    .layout
    {
        flex-direction: column;
        height: 100%;
        gap: 30px;
        .texto
        {
            h2
            {
                font-size: 30px;
            }
            h3
            {
                font-size: 30px;
            }
            p
            {
                font-size: 17px;

            }
            h5
            {
                font-size: 12px;
            }
        }
        img
        {
            width: 100%;
            height: 30%;
        }
    }
    .cards
    {
        width: 100%;
    }
    .menu
    {
        flex-direction: row;
        width: 100%;
        align-items: none;
        margin: none;
        justify-content: none;
        flex-wrap: wrap;
        gap: 10px;

        .card
        {
            width: 350px;
            margin: 0px;
        }
    }

    .desktop_info
    {
    width:100%;
    height: 80%;
    margin: 0 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 150px;

    .inf
    {
        margin-top: 120px;
        margin-left: 50px;
        width: 70%;

        h2
        {
            font-size: 25px;
            font-weight: normal;
            letter-spacing: 1px;
            margin-bottom: 17px;
        }

        p
        {
            font-size: 20px;
            line-height: 20px;
        }
    }

    img
    {
        height: 40%;
        width: 50%;
        margin-left: 50px;
        align-self: center;
    }

    }

    .comprar
    {
        width: 100%;
        flex-direction: column;
        align-items: center;

        .cajas
        {
            width: 100%;

            .caja
            {
                width: 45%;

                img
                {
                    height: 180px;

                }
            }
        }

        .Seleccion
        {
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            height: 100%;
            margin-bottom: 50px;
            .boton
            {
                width: 200px;
                height: 100px;
                img
                {
                    width: 70px;
                    height: 60px;
                }
            }

        }
    }

    #Redes
    {
        height: 10%;
        gap: 70px;
        margin-top: 100px;
        align-items: center;
        img
        {
            height: 50%;
            width: 10%;
        }
    }

    .contacto
    {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        border-radius: 0px;
        .formulario
        {
            margin-top: 20px;
            width: 90%;

            h6
            {
                width: 100%;
            }
            h5
            {
                height: 35%;
            }
        }
    }

}